nav {
  background-color: var(--black2);
  border-bottom: 1px solid var(--gray1);
}
.nav-open { background-color: var(--black2); }
.nav-open, .nav-close { display: none; z-index: 9; }
.nav-overlay {
  background-color: rgba(0,0,0, 0.5);
  display: none;
  z-index: 9;
}
@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    justify-content: start;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15em, 100%);
    z-index: 10;
    border-left: 1px solid var(--gray1);
    transition: right 300ms ease-out;
  }
  nav.show { right: 0; }
  nav.show ~ .nav-overlay { display: block; }
  nav ul {
    width: 100%;
    flex-direction: column;
  }
  nav .title {
    width: 100%;
  }
  .nav-open {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
  }
  .nav-close {
    display: flex;
  }
}
