@import "tailwindcss";

:root {
  font-family: 'JetBrains Mono', monospace;

  /* color scheme */
  --black1: #121212; /* primary */
  --black2: #1f2122; /* secondary */
  --black3: #292c2e; /* hover */
  --gray1: #2a2b2c; /* lines */
  --black15: hsl(0,0%,15%);
  --white: #ffffff;
  --purple: #9e9eff;
  --maroon: #B00020;
  --green: #a6e3a2;
}

body {
  background-image: url(./assets/space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
}

.bg-black1 { background-color: var(--black1); }
.bg-black2 { background-color: var(--black2); }
.bg-white { background-color: var(--white); }
.bg-purple { background-color: var(--purple); }
.bg-maroon { background-color: var(--maroon); }
.bg-green { background-color: var(--green); }

.fg-white { color: var(--white); }
.fg-purple { color: var(--purple); }
.fg-maroon { color: var(--maroon); }

/* applies globally*/
.g-page {
  color: var(--white);
}
.g-button {
  color: var(--white);
  transition: color 200ms ease;
} .g-button:hover { color: var(--purple); }

.container {
  min-width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
}
